/*div {
	border-radious: 50%;
	width: 30px;
	height: 30px;
}
@keyframes spin{
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
#advanced {
	width: 30px;
	height: 30px;

	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);

	animation-name: spin;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}*/